.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    align-items: center;
    background-color: brown;
}
#loginbtn{
    padding: 10px;
    background-color: black;
    color: white;
}